<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>User Login and Sessions</title>
<!--     <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome
            <%= username %>
        </h2>
    </div>
    <span id="profile_picture">
<!--     Profile Pic -->

    <img src="<%= profile_picture %>">
        
    </span>
    <br>
    <span id="colorText">
    Hobbies: 
        <%= color %>
    </span>
    <div class="divider"></div>

    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/jquery.js"></script>
    
<div class="postedImageSection">
    <h1>Share your photos</h1>
    <form id="commentForm" action="">
    <label for="name" >Name: </label><input type="text" id="name" placeholder="Name"><br>
    <label for="comment">Title: </label><input type="text" id="comment" placeholder="Picture title"><br>
    <label for="avatar">Image URL: </label><input type="text" id="avatar" placeholder="URL"><br>
    </form>
    <div class="imageButtons">
        <button id="postComment">Post Photo</button>
        <button id="getComments">Show Photos</button>
        <button id="deleteComments">Delete All</button>
    </div>
</div>

<br><br>

<div id="json"></div>
<div id="done"></div>
<div id="comments">
<hr>
</div>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>
</body>
      
</html>
